@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header-logo{
    width: 100%;
    height: auto;
}

#navOne{
  position: absolute;
  top:0;
  
  
  /* Style for "01. histor" */
  
width: 100%;
height: 9px;
color: #fefeff;
font-family: 'Lato', sans-serif;
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 20px;
text-align: left;
text-decoration: none;
text-transform: uppercase;
/* Text style for "01. histor" */
font-style: normal;
letter-spacing: 1.2px;
line-height: normal;
}
.navOneItems{
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #fefeff;
    border-bottom-width: 2px;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

#navTwo{
    position: sticky;
    top:0;
    background-color:#fefeff;
    
    z-index: 1;
    /* Style for "01. histor" */
    
  width: 100%;
  height: 76px; /*7.7755102vh;*/
  color: #414f6b;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  /* Text style for "01. histor" */
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: normal;
  }

  .navTwoItems{
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #414f6b;
    border-bottom-width: 2px;
  
  }

  #histLink{
    position: relative;
    top:-76px;
    background-color:#fefeff;
    
    z-index: -1;
    /* Style for "01. histor" */
    
  width: 100%;
  height: 76px; /*7.7755102vh;*/
  color: #414f6b;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  /* Text style for "01. histor" */
  font-style: normal;
  letter-spacing: 1.2px;
  line-height: normal;
  }

  .navTwoItems{
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: #414f6b;
    border-bottom-width: 2px;
  
  }


#homeLink a{
  border-bottom-style: none;
}

#teamHistory{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 192px;
}

#navContainer{
  position:absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 25px;
  width: 100vw;
  height: 9px;
}


.Home{
    position: relative;
    top:0;
    height: 100vh;
    width: 100%;
    background-image: url("./Backgrounds/bkg1.png");
    background-position: 60% center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 500px){
    .Home{
        background-position: 63% center;
    }

    #bigTwo{
        font-size: 90px;
        text-align: left;
        left: 13%;
    }
}

@media screen and (min-width: 800px){
    .Home{
        background-position: 68% center;
    }

    #bigTwo{
        font-size: 100px;
        text-align: left;
        left: 15%;
    }
}

@media screen and (min-width: 1000px){
    .Home{
        background-position: 100% 20%;
    }

    #bigTwo{
        font-size: 120px;
        text-align: left;
        left: 19%;
    }
    #bigOne{
        font-size: 120px;
        text-align: left;
        left: 20.25%;
    }
}

@media screen and (min-width: 1400px){
    .Home{
        background-position:  center 20% ;
    }
    #header{
        position: relative;
        height: 21.309524vh;
        width: 100%;
        
    }
    #bigTwo{
        font-size: 136px;
        text-align: left;
        left: 22.616822%;
    }
    #bigOne{
        font-size: 136px;
        text-align: left;
        left: 20.25%;
    }
}



.History{
    position: relative;
    display: flex;
    justify-content: center;
    height: 92.244898vh; 
    width: 100%;
    background-image: url("Backgrounds/peak.png");
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
#historyText{
    /* Style for "Cras scele" */
    position: relative;
    
    align-self:center;
    
width: 813px;
height: 63px;
color: #000000;
font-family: 'Lato', sans-serif;
font-size: 16px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 24px;
text-align: left;
/* Text style for "C, ras sce" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#history{
    /* Style for "HISTORY" */
    position:relative;
    left: 0%;
    top: 6%;
width: 110px;
height: 30px;
color: #414f6b;
font-family: 'Oswald', sans-serif;
font-size: 32px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for ", HISTORY" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#header{
    position: relative;
    height: 21.309524vh;
    width: 100%;
    
}
#bigOne{
    /* Style for "02." */
    position: relative;
    top:0%;
    left: 0%;
    
width: 144px;
height: 124px;
opacity: 0.5;
color: #414f6b;
font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "0, 2." */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#historyContainer{
    position:absolute;
    display: flex;
    
    top: 40px;
    width: 880px;
    height: 194px;
}

#carousel{
position: absolute;
width: 100%;
height: 20vh;
bottom:0px;
opacity: 80%;
background-color: #414f6b;
}

#bigTwo{
    /* Style for "02." */
    position: relative;
    left: 11%;
width: 170px;
height: 124px;
opacity: 0.5;
z-index: 1;
color: #414f6b;
font-family: 'Oswald', sans-serif;
font-size: 80px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "0, 2." */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#climb{
    /* Style for "CLIMB" */
width: 80px;
height: 30px;
color: #414f6b;
font-family: 'Oswald', sans-serif;
font-size: 32px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for "C, LIMB" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
#mountainText{
    position: relative;
    display: flex;
    height: 4.761905vh;
    width: 100%;
    background-color: #414f6b;
}

#mountainOne, #mountainTwo{
    /* Style for "MOUNTAIN 1" */
    width: 140px;
    height: 40px;
    color: #b0b4be;

font-family: "Oswald", sans-serif;
font-size: 20px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;

text-transform: uppercase;
/* Text style for "M, OUNTAIN" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#mountainOne:hover, #mountainTwo:hover{
    background-color: #b0b4be;
color: #414f6b;
text-decoration: underline;
cursor: pointer;
}

.Team{
    position: relative;
    height: 65.238095vh;
    width: 100%;
    background-image: url("Backgrounds/mist.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



footer{
    position: relative;
    height: 8.690476vh;
    width: 100%;
    background-color: #414f6b;
}

#footer-logo{
    position: absolute;
    top: 25%;
}

/* 179 40 548 73 840